Repository junkor-1011/vite-react-sample: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.yaml:

'src/**/*.{ts,tsx}':
  - eslint --fix
  - prettier --write
'*.{js,cjs}':
  - prettier --write
'*.{css,less,sass,scss}':
  - stylelint --fix
'*.{json,md,yml,yaml}':
  - prettier --write

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: check peer-dependencies loose
  .npmrc
Due: none

Revert "feat: check peer-dependencies loose"
  .npmrc
Due: none

chore: format
  vite.config.ts
Due: none

eslint-define-config
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update packages
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
Due: prettier --write

docs: add note.md
  note.md
Due: prettier --write

chore: update packages
  pnpm-lock.yaml
Due: prettier --write

chore: rm triple slash
  vite.config.ts
Due: none

chore: update packages
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  src/__tests__/__snapshots__/snapshot.test.tsx.snap
Due: prettier --write

chore: prettier ignore mockServiceWorker.js
  .prettierignore
  public/mockServiceWorker.js
Due: prettier --write

chore: enable coverage
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write

chore: update gitignore
  .gitignore
Due: none

chore: update packages
  .npmrc
  .storybook/main.cjs
  .storybook/preview.ts
  .storybook/storybook.scss
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  src/components/atoms/Clock/index.test.tsx
  vite.config.ts
  vitest-global-setup.ts
  vitest-setup.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: modify npmrc
  .npmrc
Due: none

refactor: eslint error fix
  src/App.tsx
  src/components/atoms/Clock/index.stories.tsx
  src/hooks/clientIp.test.ts
  src/hooks/clientIp.ts
  src/hooks/utils/useCounter.ts
  src/hooks/utils/useDateNow.ts
  src/stories/msw-test/fetch-ipv4.stories.tsx
Due: eslint --fix, prettier --write
