Repository junkor-1011/vite-react-sample: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

enable scss
  package.json
  src/App.scss
  src/App.tsx
  src/index.scss
  src/main.tsx
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

storybook
  .gitignore
  .storybook/main.cjs
  .storybook/preview-head.html
  .storybook/preview.cjs
  package.json
  yarn.lock
Due: prettier --write

lint-staged rc
  .lintstagedrc.yaml
Due: prettier --write

modify eslintrc
  .eslintrc.cjs
Due: none

add @emotion/react
  .eslintrc.cjs
  package.json
  src/App.tsx
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

sample of emotion object style
  src/App.tsx
Due: eslint --fix, prettier --write

storybook with emotion
  .storybook/main.cjs
  src/App.stories.tsx
Due: eslint --fix, prettier --write

snapshot test
  src/__tests__/__snapshots__/snapshot.test.tsx.snap
  src/__tests__/snapshot.test.tsx
Due: eslint --fix, prettier --write

improve snapshot test by @emotion/jest
  package.json
  src/__tests__/__snapshots__/snapshot.test.tsx.snap
  src/__tests__/snapshot.test.tsx
  yarn.lock
Due: eslint --fix, prettier --write

vitest ui
  package.json
  yarn.lock
Due: prettier --write

test react hooks
  src/hooks/useCounter.test.ts
  src/hooks/useCounter.ts
Due: eslint --fix, prettier --write

chore: update vitest
  package.json
  yarn.lock
Due: prettier --write

update useCounter test for test example
  src/hooks/useCounter.test.ts
  src/hooks/useCounter.ts
Due: eslint --fix, prettier --write

testing: add data-testid for fix eslint error
  src/App.tsx
  src/__tests__/__snapshots__/snapshot.test.tsx.snap
  src/__tests__/snapshot.test.tsx
Due: eslint --fix, prettier --write

chore: add storybook addons
  .storybook/main.cjs
  package.json
  yarn.lock
Due: prettier --write

feat: add index.scss
  .storybook/preview.cjs
Due: none

chore: update packages
  package.json
  yarn.lock
Due: prettier --write

refactor: arrangement dir
  src/hooks/utils/useCounter.test.ts
  src/hooks/utils/useCounter.ts
Due: eslint --fix, prettier --write

feat: type-util
  src/lib/utils/type-utils.ts
Due: eslint --fix, prettier --write

feat: add sample hooks
  src/hooks/utils/useDateNow.test.ts
  src/hooks/utils/useDateNow.ts
Due: eslint --fix, prettier --write

feat: clock
  src/components/atoms/Clock/index.stories.tsx
  src/components/atoms/Clock/index.test.tsx
  src/components/atoms/Clock/index.tsx
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

feat: clock
  src/App.tsx
  src/__tests__/__snapshots__/snapshot.test.tsx.snap
  src/__tests__/snapshot.test.tsx
Due: eslint --fix, prettier --write

fix: storybook broken because of paths
  .storybook/main.cjs
  vite.config.ts
Due: none

feat: add example hooks
  package.json
  src/hooks/clientIp.test.ts
  src/hooks/clientIp.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore(storybook): staticDir
  .storybook/main.cjs
  package.json
Due: prettier --write

msw-addon-storybook test
  .storybook/preview.cjs
  package.json
  public/mockServiceWorker.js
  src/stories/msw-test/fetch-ipv4.stories.tsx
  src/stories/msw-test/fetch-ipv4.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat(storybook): waiting response
  src/stories/msw-test/fetch-ipv4.stories.tsx
Due: eslint --fix, prettier --write

chore: npmrc(engine-strict=true)
  .npmrc
Due: none

chore(package.json): add engines & packageManager
  package.json
Due: prettier --write

using pnpm(& modify storybook option)
  .husky/pre-commit
  .npmrc
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: prettierignore
  .prettierignore
Due: none

chore: not format by prettier(pnpm-lock.yaml)
  pnpm-lock.yaml
Due: prettier --write

chore: add comment @.npmrc
  .npmrc
Due: none

chore: update packages
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
Due: prettier --write

chore: loose engine(node version)
  package.json
Due: prettier --write

docs: add README.md
  README.md
Due: prettier --write

chore: upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: ((any of: src/**/*.{ts,tsx}) or (any of: *.js)) or (any of: *.{json,md,yml,yaml})
  stylelint --fix: any of: *.{css,less,sass,scss}
